extends layout

block content
  h1= title
  
  - var jobResultsArray = results
  
  div(style="container-fluid", id="Outer") 
    each val in jobResultsArray
      div(style="row", id="middle")
        div(style="col-3", id="dataTitle") Job Title: #{val.job_title} 
        div(style="col-3", id="dataPay") Job Pay: #{val.pay} 
        div(style="col-3", id="dataisHourly") This job is Hourly(If False then it is Salary): #{val.isHourly}
        br
  
  
